*, h1, h2, h3, h4, h5, h6, ul, li{
	margin: 0;
	padding: 0;}


.page{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;}

.section{
	padding: 70px 0;}

.page__header{
	height: 650px;
	background-color: #0e88f3;
	color: #fff;
	display: block;}

.container_unic{
	width: 90%;}

.page__header__content__nav{
	padding-top: 3%;}

.nav__mobile-menu__icon{
	background-color: #fff;}

.nav__menu__lyst__item{
	color: #d1e7fc;
	font-size: 14px;}

.nav__mobile-menu__logo{
	color: #fff;
	padding-right: 100px;
	padding-left: 0;
	font-size: 2em;}


.slogan__text__h1{
	font-size: 2em;
	margin-top: 15%;}

.slogan__text__subslogan{
	font-size: 15px;
	padding: 7% 0 4% 0;
	color: #d1e7fc;}

.button{
	display: inline-block;
	background-color: #d1e7fc;
	color: #315479;
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 20px 40px;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}

.button:hover{
	text-decoration: none;
	border: 1px solid #315479;}

.slogan__text__watch_shakers{
	display: block;
	font-size: 14px;
	margin-left: 50px;
	margin-top: 18px;
	color: #d1e7fc;}
.slogan__text__watch_shakers:hover{
	color: #fff;}

.slogan__text__watch_shakers__icon{
	font-size: 14px;
	padding: 0 8px;
	border: 1px solid #d1e7fc;
	border-radius: 50%;
	margin-left: 10px;}


.slogan__img__pic{
	width: 70%;
	display: block;
	margin: 0 auto;}
.pic-hidden{
	display: none;}
.page__header__content__footer{
	text-align: center;
	margin-top: 10px;}

.page__header__content__footer__text{
	font-size: 15px;
	font-weight: 300;
	display: inline-block;}

.page__header__content__footer__img{
	display: inline-block;
	width: 80px;}

/*fancybox-slick*/
.fancybox_items{
	border-bottom: 1px solid #0e88f3;
	padding: 0 50px;
	text-align: center;}
.fancybox-slick{
	border-right: 1px solid #0e88f3;}
.slide-slick{
	border-left: 1px solid #0e88f3;}
.fancybox-slick a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
    flex-direction: column;
	text-decoration: none;}
.fancybox-slick a > img{
	width: 100px;
	padding-bottom: 30px;
	margin:0 auto;}
.slide-slick a > h5{
	text-transform: uppercase;
	color: #315479;
	font-size: 1.1em;
	font-weight: 800;
	margin-top: 30px;
	margin-bottom: 30px;}
.slick-prev {
    left: -55px;}
.slick-next {
    right: -20px;}
.slick-next:before{
    content: '»';
    font-size: 60px;
    color: #0e88f3;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;}
.slick-prev:before{
    content: '«';
    font-size: 60px;
    color: #0e88f3;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;}


/*section what_we_do*/
.h2{
	font-size: 1.77em;
	text-align: center;
	margin-bottom: 20px;
	color: #32547a;}

.what_we_do__article{
	padding: 50px 0;}
.what_we_do__article__item__h3{
	font-size: 1.38em;
	margin-bottom: 50px;
	color: #315479;}

.what_we_do__article__item__text{
	font-size: 1.22em;
	padding: 10px 0;
	color: #677483;}

.what_we_do__article__item__img{
	width: 100%;}

/*section client_say*/
.client_say__items__item{
	padding: 40px 0;}

.client_say__items__item__text{
	background-color: #0e88f3;
	padding: 40px 30px 40px 60px;
	margin-right: 30px;
	border-radius: 6px;
	color: #fff;
	font-size: 0.95em;
	position: relative;}

.client_say__items__item__text:last-child{
	margin-right: 0;}
.client_say__items__item__text:before{
	content: "";
	position: absolute;
	left: 5px;
	top: 20px;
	background-image: url(../img/quote.png);
	width: 50px;
	height: 50px;
	color: #126bce;}

.client_say__items__item__text:after{
	content: "";
	display:block;
	position: absolute;
	width: 0;
	height: 0;
	border-bottom:20px solid transparent;
	border-right:20px solid #0e88f3;
	bottom: -19px;
	left: 30px;}

.client_say__items__item__h4{
	font-size: 16px;
	color: #315479;
	margin-top: 25px;}
.client_say__items__item__span{
	font-size: 14px;
	color: #677482;}

/*section-cta call to action*/
.section-cta{
	text-align: center;
	background-color: #0e88f3;
	color: #d1e7fc;}
.block_cta{
	padding: 0 20px;
}
.block_cta__h4{
	font-size: 1.78em;
	color: #fff;}
.block_cta__text{
	font-size: 0.88em;
	padding: 30px 0 40px 0;}

/*footer*/
.footer{
	padding: 70px 0 50px 0;}

.h6{
	font-size: 13px;
	color: #3974ca;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 25px;}

.page__footer__items__inner__text{
	font-size: 15px;
	color: #323232;
	padding-right: 40px;}

.page__footer__items__inner__icon{
	font-size: 23px;
	padding: 0 10px;}

.ion-social-facebook{
	color: #2d7dc2;}

.ion-social-linkedin{
	color: #0683bc;}

.ion-social-youtube{	
	color: #ea5450;}

.ion-social-twitter{
	color: #2ea9e1;}

.ion-social-instagram{
	color: #3b82b9;}

.copy_right{
	margin-top: 100px;}

.copy_right__text{
	display: inline-block;
	font-size: 13px;}

.copy_right__img{
	display: inline-block;
	height: 20px;}

/*media screen*/

@media screen and (max-width:1850px){
	.slogan__img__pic{
		width: 80%;}
	.page__header__content__footer{
		margin-top: 40px;}
}

@media screen and (max-width:1650px){
	.slogan__img__pic{
		width: 90%;}
}

@media screen and (max-width:1500px){
	.slogan__img__pic{
		width: 100%;}
	.page__header__content__footer{
		margin-top: 50px;}
}

@media screen and (max-width:1350px){
	.page__header__content__footer{
		margin-top: 70px;}
}

@media screen and (max-width:1250px){
	.page__header__content__footer{
		margin-top: 90px;}
}


@media screen and (max-width:992px){
	.slogan__text__h1{
		font-size: 1.9em;}
	.button{
		font-size: 16px;}
}

@media screen and (max-width:767px){
	.page{
		font-size: 16px;}
	.container_unic{
		width: 95%;}
	.slogan__text__h1{
		margin-top: 3%;}
	.slogan__text__subslogan{
		font-size: 14px;
		padding: 4% 0 3% 0;}
	.button{
		padding: 15px 40px;}
	.slogan__text__watch_shakers{
		margin-top: 12px;}
	.pic-hidden{
		display: inline-block;
		margin-top:10px;		}
	.pic-hidden__header{
		width: 49%;	}
	.pic-hidden-big{
		width: 100%;}
	.pic-none{
		display: none;}
	.page__header__content__footer__img{
		display: none;}
	.page__header__content__footer{
		margin-top: 2%;}
	.what_we_do__article__item__h3{
		margin-bottom: 30px;}
	.client_say__items__item__text{
		margin-right: 0;}
	.client_say__items__item{
		padding: 10px 0;}
	.page__footer__items__inner{
		margin-bottom: 30px;}
	.h6{
		margin-bottom: 20px;}
	.copy_right{
		margin-top: 50px;}
}

@media screen and (max-width:630px){
	.pic-hidden__header{
		width: 64%;}
	.slogan__text__subslogan{
		padding: 3% 0 2% 0;}
	.page__header__content__footer{
		margin-top: 5%;}
	.what_we_do__article__item__h3{
		margin-bottom: 20px;}
	.what_we_do__article__item__text{
		padding: 5px 0;}
}

@media screen and (max-width:480px){
	.pic-hidden__header{
		width: 80%;}
	.page__header__content__footer{
		margin-top: 10%;
}





















/*color: #0e88f3;*/
